@inherits LayoutComponentBase

<div class="app-container">
    <!-- Левый сайдбар (Всегда на экране) -->
    <aside class="sidebar">
        <NavMenu />
    </aside>

    <!-- Основной контент страницы справа (Занимает все оставшееся место) -->
    <main class="main-content">
        @Body
    </main>
</div>